@import "main.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

.header .header__inside {
  padding-top: 0;
  padding-bottom: 0;
  background-color: white !important;
}

.header .container {
  max-width: 1100px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .header__btn {
  text-transform: capitalize;
  font-size: 16px;
  letter-spacing: 2px;
  opacity: 0.5;
  padding: 10px 13px;
}

.header .header__title {
  font-size: 18px;
  letter-spacing: 5px;
}

.header .header__list {
  display: flex;
  list-style: none;
  margin-bottom: 0;
}

.btn {
  text-transform: capitalize;
  background-color: rgb(86, 86, 247);
  color: white;
  border: none;
  font-size: 16px;
  padding: 10px 16px;
  border-radius: 5px;
}
